name: gradle-preview-ci
on:
  push:
    branches: [ "dev/*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-package: jdk
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew shadowJar --no-daemon
      - name: Set variables
        id: vars
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ steps.vars.outputs.short_ref }}"
          prerelease: true
          title: "Development Build"
          files: |
            api/build/libs/*.jar
            bukkit/build/libs/*.jar
            velocity/build/libs/*.jar